// 动画效果
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 114px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes timeline1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.9);
        opacity: .5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes timeline2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.9);
        opacity: .5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// 顶部导航与第一张大图
main {
    background-image: url(../images/index/bg_index1.jpg);
    background-position: center;

    // 顶部导航栏
    .top-nav {
        width: 100%;
        height: 100px;
        background-color: #191919;

        .top-center {
            height: 100px;

            .logo {
                float: left;
                line-height: 100px;

                img {
                    width: 166px;
                    height: 56px;
                }
            }

            .nav {
                float: left;
                line-height: 100px;

                li {
                    float: left;
                    width: 110px;
                    height: 100px;
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                    margin-right: 22px;
                    cursor: pointer;

                    &:last-child {
                        line-height: 30px;

                        span {
                            display: inline-block;

                            &:first-child {
                                margin-top: 20px;
                            }
                        }
                    }

                    &:hover {
                        color: #ffc000;
                    }
                }

                .border {
                    width: 98px;
                    height: 94px;
                    color: #ffc000;
                    border-bottom: 6px solid #ffc000;
                    border-left: 6px solid #191919;
                    border-right: 6px solid #191919;
                }
            }

            .nav-btn {
                float: right;
                width: 154px;
                height: 100px;
                line-height: 100px;
                margin-right: 36px;

                a {
                    display: inline-block;
                    width: 66px;
                    height: 26px;
                    color: #ccc;
                    font-size: 16px;
                    text-align: center;
                    line-height: 26px;
                    background-image: url(../images/index/btn_bg.png);

                    &:first-child {
                        margin-right: 16px;

                        &:hover {
                            color: #ffc000;
                            background-image: url(../images/index/btn_bg_on.png);
                        }
                    }

                    &:last-child {

                        &:hover {
                            color: #ffc000;
                            background-image: url(../images/index/btn_bg_on.png);
                        }
                    }
                }
            }
        }
    }

    // 第一张大图
    .first-big {
        position: relative;
        width: 100%;
        height: 954px;

        .play {
            position: absolute;
            width: 100px;
            height: 100px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            border-radius: 50%;

            .video {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/index/video.png) center no-repeat;
            }

            .circle {
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/index/circle.png) center no-repeat;
                animation: rotate 2s infinite linear;
            }
        }

        .more-link {
            position: absolute;
            top: 630px;
            left: 50%;
            transform: translate(-50%);
            width: 591px;
            height: 145px;
            border: 1px solid hsla(0, 0%, 100%, .25);
            padding: 15px;
            box-sizing: border-box;

            .code {
                position: relative;
                float: left;
                width: 117px;
                height: 116px;
                background-image: url(../images/index/code_xz.png);
                background-size: 100%;
                line-height: 145px;

                p {
                    position: absolute;
                    top: 0;
                    left: 4px;
                    width: 108px;
                    height: 2px;
                    background-color: #fff;
                    box-shadow: 0 0 6px #c01f1f, 0 0 7px #c01f1f, 0 0 8px #c01f1f, 0 0 9px #c01f1f;
                    animation: move 6s infinite linear;
                }
            }

            .download {
                float: left;
                width: 177px;
                height: 118px;
                margin: 0px 8px;

                a {

                    &:last-child {

                        img {
                            margin-top: 11px;
                        }
                    }
                }
            }

            .tap {
                float: left;
                width: 114px;
                height: 116px;
            }

            .account {
                float: left;
                width: 114px;
                height: 116px;
                margin-left: 15px;
            }

            .left-top {
                width: 15px;
                height: 15px;
                opacity: .6;
                position: absolute;
                border-top: 2px solid #fff;
                border-left: 2px solid #fff;
                left: -1px;
                top: -1px;
            }

            .right-bottom {
                width: 15px;
                height: 15px;
                opacity: .6;
                position: absolute;
                border-right: 2px solid #fff;
                border-bottom: 2px solid #fff;
                right: -1px;
                bottom: -1px;
            }
        }

        .PV {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            display: block;
            z-index: 200;

            .close-Pv {
                position: absolute;
                top: 10%;
                right: 20%;
                cursor: pointer;
            }

            .PV-video {
                position: absolute;
                width: 60%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                video {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .none {
            display: none;
        }
    }
}

// 第二张大图
.senond-big {
    position: relative;
    width: 100%;
    height: 1080px;
    background-image: url(../images/index/bg_index2.jpg);
    background-position: center;

    #Griffin {
        position: absolute;
        top: 177px;
        left: 50%;
        width: 550px;
        height: 80px;
        margin-left: 100px;
    }

    .banner {
        position: absolute;
        top: 336px;
        left: 168px;
        width: 696px;
        height: 418px;
        background-image: url(../images/index/banner_box.png);
        background-size: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 1;

        .banner-in {
            position: absolute;
            top: 26px;
            left: 30px;
            width: 640px;
            height: 367px;
            overflow: hidden;

            ul {
                position: absolute;
                width: 2560px;
                height: 363px;

                li {
                    float: left;
                    width: 640px;
                    height: 100%;

                    a {
                        width: 634px;
                        height: 363px;
                    }
                }
            }
        }

        ol {
            position: absolute;
            bottom: 40px;
            left: 50%;
            margin-left: -36px;
            height: 8px;

            li {
                float: left;
                width: 8px;
                height: 8px;
                background-color: #000;
                border-radius: 50%;
                margin: 0 5px;
                opacity: .2;
            }

            .bgc {
                background-color: #ffb400;
                opacity: 1;
            }
        }
    }

    .new-box {
        position: absolute;
        right: 124px;
        top: 358px;
        width: 550px;
        height: 372px;
        background-image: url(../images/index/news_box.png);
        background-size: 100%;
        padding: 15px 0;
        padding-left: 34px;
        box-sizing: border-box;

        .new-top {
            width: 100%;
            height: 46px;
            border-bottom: 2px solid #ffb400;

            span {
                display: inline-block;
                width: 102px;
                height: 46px;
                line-height: 46px;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
                color: #ffb400;
                cursor: pointer;
            }

            .bgi {
                color: #6e4100;
                background-image: url(../images/index/new_nav_bg.png);
            }
        }

        .new-bottom {
            position: relative;
            width: 100%;
            height: 255px;
            margin-top: 16px;

            .number1,
            .number2,
            .number3,
            .number4 {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                .p-top {
                    width: 490px;
                    height: 54px;
                    color: #0ff;
                    font-size: 24px;
                    line-height: 54px;
                    text-align: center;
                    background-image: url(../images/index/new_item_bg.png);

                    i {
                        display: inline-block;
                        width: 45px;
                        height: 22px;
                        color: #fff;
                        line-height: 22px;
                        text-align: center;
                        font-size: 16px;
                        background-color: #e60012;
                    }
                }

                .p-bottom {
                    width: 100%;
                    height: 210px;

                    div {
                        position: relative;
                        width: 100%;
                        height: 51px;
                        border-bottom: 1px dashed #555750;
                        cursor: pointer;

                        p {
                            position: relative;
                            float: left;
                            width: 70%;
                            height: 100%;
                            color: #fff;
                            font-size: 16px;
                            line-height: 50px;
                            padding-left: 60px;

                            i {
                                position: absolute;
                                top: 0;
                                left: 0;
                                display: inline-block;
                                width: 50px;
                                height: 100%;
                            }

                            .new {
                                background-image: url(../images/index/tag_new.png);
                                background-repeat: no-repeat;
                                background-position: 0;
                            }

                            .notice {
                                background-image: url(../images/index/tag_new.png);
                                background-repeat: no-repeat;
                                background-position: -50px;
                            }

                            .strategy {
                                background-image: url(../images/index/tag_new.png);
                                background-repeat: no-repeat;
                                background-position: -100px;
                            }
                        }

                        time {
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 90px;
                            height: 100%;
                            line-height: 50px;
                            font-size: 14px;
                            color: #e3a91c;
                        }
                    }
                }
            }

            .taggle {
                display: block;
            }
        }

        a {
            float: right;
            width: 62px;
            height: 30px;
            color: #fff;
            font-size: 16px;
            line-height: 30px;
            background-image: url(../images/index/icon_more.png);
            background-repeat: no-repeat;
            background-position: 36px 2px;
            padding-right: 30px;
        }
    }
}

// 第三张大图
.third-big {
    position: relative;
    width: 100%;
    height: 1080px;
    background-image: url(../images/index/bg_index3.jpg);
    background-position: center;

    #girl {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 188px;
        margin-left: -660px;
        width: 550px;
        height: 80px;
    }

    .all-girl {
        position: absolute;
        bottom: 0;
        left: 222px;
        width: 1138px;
        height: 726px;
        margin: 0px auto;

        #goddess {
            position: relative;
            width: 1135px;
            height: 462px;

            .gun_item {
                position: absolute;
                top: 0;
                left: 0;
                width: 105px;
                height: 67px;
            }

            .doll {
                position: absolute;
                top: 0;
                // left: 50px;
                left: 240px;
                width: 370px;
                height: 353px;
                opacity: 0;
            }

            .speak {
                position: absolute;
                bottom: -20px;
                left: 6px;
                width: 890px;
                height: 130px;
                background-image: url(../images/index/name_1.png);
                background-repeat: no-repeat;
                background-position: 0 100%;
                padding-left: 290px;
                padding-top: 25px;
                box-sizing: border-box;

                p {
                    position: relative;
                    font-size: 16px;
                    color: #fff;
                    line-height: 30px;
                    padding-left: 10px;

                    span {
                        position: absolute;
                        left: 0;
                        top: 5px;
                        width: 4px;
                        height: 20px;
                        background-color: #e03337;
                    }
                }
            }

            .cv {
                float: right;
                position: absolute;
                top: 408px;
                right: 48px;
                width: 300px;
                height: 244px;
                text-align: right;
                z-index: 1;

                h2 {
                    color: #fff;
                    font-size: 100px;
                    font-weight: 700;
                }

                .name {
                    color: #fff;
                    font-size: 55px;
                }

                a {
                    display: inline-block;
                    width: 48px;
                    height: 48px;
                    background-image: url(../images/index/icon_sound.png);
                    margin-top: 8px;

                    &:hover {
                        background-image: url(../images/index/icon_sound1.png);
                    }
                }
            }
        }

        .photo {
            position: absolute;
            bottom: 58px;
            left: 70px;
            width: 600px;
            height: 120px;
            z-index: 1;

            .photo-on {
                position: relative;
                width: 600px;
                height: 120px;
                overflow: hidden;

                .photo-in {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background-image: url(../images/index/icon_bg.png);

                    ul {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1043px;
                        height: 120px;

                        li {
                            float: left;
                            width: 133px;
                            height: 120px;
                            line-height: 120px;
                            margin: 0 8px;
                            opacity: .6;

                            img {
                                width: 100%;
                                height: 100%;
                                vertical-align: middle;
                            }
                        }

                        .bright {
                            opacity: 1;
                        }
                    }
                }
            }

            .left {
                display: inline-block;
                position: absolute;
                top: 24px;
                left: -64px;
                width: 40px;
                height: 70px;
                background-image: url(../images/index/arrows.png);
                cursor: pointer;

                &:hover {
                    background-image: url(../images/index/arrows.png);
                    background-position: 0 -71px;
                }
            }

            .right {
                display: inline-block;
                position: absolute;
                top: 24px;
                right: -64px;
                width: 40px;
                height: 70px;
                background-image: url(../images/index/arrows.png);
                background-position: -41px 0;
                cursor: pointer;

                &:hover {
                    background-image: url(../images/index/arrows.png);
                    background-position: -41px -71px;
                }
            }
        }
    }

    .role {
        position: absolute;
        top: 0;
        // right: 0;
        right: 40px;
        width: 1064px;
        height: 100%;
        background-image: url(../images/index/role_1.png);
        opacity: 0;
    }
}

// 第四张大图
.fourth-big {
    position: relative;
    width: 100%;
    height: 1080px;
    background-image: url(../images/index/bg_index4.jpg);
    background-position: center;

    #battle {
        position: absolute;
        top: 160px;
        left: 50%;
        width: 550px;
        height: 80px;
        margin-left: 100px;
    }

    .atlas {
        position: absolute;
        top: 310px;
        left: 50%;
        width: 1159px;
        height: 600px;
        margin-left: -579px;

        .atlas-title {
            float: left;
            width: 270px;
            height: 420px;
            background-color: #000;

            div {
                float: right;
                position: relative;
                width: 270px;
                height: 105px;
                color: #fff;
                line-height: 105px;
                text-align: center;
                font-size: 22px;
                background-color: #252525;
                margin-bottom: 2px;
                cursor: pointer;
                letter-spacing: 3px;

                b {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -15px;
                    width: 30px;
                    height: 30px;
                    background-color: #ffb400;
                    transform: rotate(45deg);
                    opacity: 0;
                }

                &:hover {
                    width: 290px;
                    background-color: #ffb400;
                    color: #252525;
                    font-size: 26px;
                    font-weight: 700;
                    text-decoration: none;
                    transition: all .6s;
                }
            }

            .active {
                width: 290px;
                background-color: #ffb400;
                color: #252525;
                font-size: 26px;
                font-weight: 700;

                b {
                    position: absolute;
                    top: 50%;
                    right: -14px;
                    opacity: 1;
                    transition: all .4s;
                }
            }
        }

        .none {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
            justify-content: center;
            align-items: center;
            z-index: 3;

            img {
                max-height: 100%;
            }
        }

        .flex {
            display: flex;
        }

        .atlas-content1,
        .atlas-content2,
        .atlas-content3 {
            display: none;
            float: left;
            width: 834px;
            height: 564px;
            background-color: #fff;
            padding: 32px;
            padding-bottom: 23px;
            padding-right: 23px;


            div {
                float: left;
                width: 397px;
                height: 266px;
                overflow: hidden;
                cursor: pointer;
                margin: 10px;
                overflow: hidden;

                img {
                    width: 407px;
                }
            }

            .lunbo {
                position: relative;
                width: 834px;
                height: 564px;
                background-color: #fff;
                overflow: hidden;
                margin: 0;

                ul {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3520px;
                    height: 600px;

                    li {
                        float: left;
                        width: 880px;
                        height: 600px;

                        img {
                            float: left;
                            width: 397px;
                            margin: 10px;
                            cursor: pointer;

                            &:nth-child(1),
                            &:nth-child(2) {
                                margin-bottom: 44px;
                            }
                        }
                    }
                }
            }
        }

        .prev,
        .next {
            display: inline-block;
            position: absolute;
            right: -35px;
            top: 0;
            width: 35px;
            height: 120px;
            color: #fff;
            line-height: 130px;
            text-align: center;
            background-color: rgba(0, 0, 0, .35);
            cursor: pointer;
            opacity: .35;
            margin-top: 0;

            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-left: 3px solid #f6f6f6;
                border-bottom: 3px solid #f6f6f6;
                margin-left: 10px;
                transform: rotate(45deg);
            }
        }

        .next {
            top: 120px;

            span {
                transform: rotate(225deg);
                margin-left: -10px;
            }
        }

        .taggle {
            display: block;
        }
    }
}

// 第五张大图
.fifth-big {
    position: relative;
    width: 100%;
    height: 1080px;
    background-image: url(../images/index/bg_index5.jpg);
    background-position: center;
    overflow: hidden;

    .world {
        position: relative;
        width: 1000px;
        height: 514px;
        margin: 332px auto;

        .world-in {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            ul {
                position: relative;
                width: 100%;
                height: 100%;

                li {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1000px;
                    height: 514px;

                    &:first-child {
                        display: block;
                    }

                    .world-left {
                        float: left;
                        width: 430px;

                        h3 {
                            width: 269px;
                            height: 53px;
                            color: #fff;
                            line-height: 53px;
                            text-align: center;
                            font-size: 28px;
                            font-weight: 700;
                            margin-bottom: 30px;
                            letter-spacing: 2px;
                            background-image: url(../images/index/view_til_bg.png);
                        }

                        p {
                            width: 430px;
                            color: #fff;
                            font-size: 20px;
                            line-height: 36px;
                        }
                    }

                    .world-right {
                        float: right;
                        width: 499px;
                        height: 505px;
                        padding: 11px 0 0 23px;
                    }
                }
            }
        }

        .left-arrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -120px;
            width: 46px;
            height: 46px;
            border-top: 9px solid #fff;
            border-left: 9px solid #fff;
            border-top-left-radius: 8px;
            transform: rotate(-45deg);

            &:hover {
                border-color: #e3363a;
            }
        }

        .right-arrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: -96px;
            width: 46px;
            height: 46px;
            border-top: 9px solid #fff;
            border-left: 9px solid #fff;
            border-top-left-radius: 8px;
            transform: rotate(135deg);

            &:hover {
                border-color: #e3363a;
            }
        }
    }
}

// 第六张大图
.sixth-big {
    position: relative;
    width: 100%;
    height: 1080px;
    background-image: url(../images/index/bg_index6.jpg);
    background-position: center;
    overflow: hidden;

    .time {
        position: relative;
        width: 1200px;
        height: 910px;
        margin: 0 auto;

        .timeline {
            position: absolute;
            top: 280px;
            left: 50%;
            width: 1100px;
            height: 326px;
            margin: 0 auto;
            margin-left: -560px;
            padding: 10px;
            background-color: hsla(0, 0%, 100%, .3);

            .timeline-in {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;

                .timeline-img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2156px;
                    height: 326px;
                    background-image: url(../images/index/timesLine.jpg);

                    img {

                        &:first-child {
                            position: absolute;
                            left: 505px;
                            top: 15px;
                            animation: timeline1 2s infinite 0s ease;
                        }

                        &:nth-child(2) {
                            position: absolute;
                            left: 590px;
                            bottom: 6px;
                            animation: timeline2 1.8s infinite .8s ease;
                        }

                        &:nth-child(3) {
                            position: absolute;
                            left: 1045px;
                            top: 0;
                            animation: timeline1 2s infinite 0s ease;
                        }

                        &:last-child {
                            position: absolute;
                            left: 1330px;
                            top: 140px;
                            animation: timeline2 1.8s infinite .8s ease;
                        }
                    }
                }
            }

            span {
                position: absolute;
                top: 50%;
                display: inline-block;
                width: 36px;
                height: 118px;
                text-align: center;
                line-height: 118px;
                background-color: #ffb400;
                margin-top: -59px;
                cursor: pointer;

                i {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border-top: 2px solid #000;
                    border-left: 2px solid #000;
                }
            }

            .timeline-left {
                left: -36px;

                i {
                    margin-left: 8px;
                    transform: rotate(-45deg);
                }

                &:hover {

                    i {
                        border-color: #fff;
                    }
                }
            }

            .timeline-right {
                right: -36px;

                i {
                    margin-right: 8px;
                    transform: rotate(135deg);
                }

                &:hover {

                    i {
                        border-color: #fff;
                    }
                }
            }
        }

        .time-bottom {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 225px;
            text-align: center;
            margin-left: -600px;

            a {
                display: inline-block;
                width: 328px;
                height: 221px;
                margin: 0 110px;

                &:first-child {
                    background-image: url(../images/index/btn_juqing.png);
                }

                &:last-child {
                    background-image: url(../images/index/btn_tasuodian.png);
                }
            }
        }
    }
}

// 首页底部
.footer {
    width: 100%;
    height: 178px;
    background: #000;
    color: #fff;
    overflow: hidden;

    .center {
        width: 1050px;
        height: 100%;
        font-size: 12px;
        margin: 0 auto;

        .center-top {
            line-height: 25px;
            border-bottom: 1px solid #fff;
            margin: 10px auto;
            overflow: hidden;

            ul {
                float: left;

                li {
                    float: left;

                    a {
                        float: left;
                        color: #fff;
                    }

                    span {
                        float: left;
                        color: #fff;
                        margin: 0 3px;
                    }
                }
            }

            p {
                float: right;
                color: #fff;
            }
        }

        .center-align {
            margin: 10px auto;
            overflow: hidden;

            p {
                line-height: 22px;
                color: #fff;
            }
        }

        .center-bottom {
            margin: 10px auto;
            overflow: hidden;

            p {
                float: left;
                color: #ffb161;
                line-height: 25px;
            }

            a {
                color: #fff;
                margin: 0 5px;
            }
        }
    }
}

// 侧边导航栏
.side-nav {
    position: fixed;
    top: 16%;
    right: 2%;
    z-index: 99;

    .line {
        position: absolute;
        top: 14px;
        right: 0;
        width: 1px;
        height: 200px;
        border-right: 1px solid hsla(0, 0%, 100%, .4);
    }

    ul {
        li {
            position: relative;
            display: block;
            cursor: pointer;

            a {
                display: block;
                text-align: right;
                color: #fff;
                font-size: 14px;
                padding: 6px 30px 6px 5px;
                margin: 10px 0;
            }

            div {
                position: absolute;
                top: 50%;
                right: -9px;
                width: 6px;
                height: 6px;
                background-color: rgba(0, 0, 0, .4);
                border: 6px solid hsla(0, 0%, 100%, .6);
                border-radius: 50%;
                transform: translateY(-50%);

                span {
                    position: absolute;
                    top: 50%;
                    left: -15px;
                    transform: translateY(-50%);
                    width: 0;
                    height: 0;
                    border-color: transparent #ffc000 transparent transparent;
                    border-style: solid;
                    border-width: 5px 8px;
                    opacity: 0;
                }
            }
        }

        .active {
            a {
                font-size: 16px;
            }

            div {
                right: -11px;
                width: 22px;
                height: 22px;
                background-color: #ffc000;
                border: 0;
                transition: all .5s;

                span {
                    opacity: 1;
                    transition: all .5s;
                }
            }
        }
    }
}

// 缩放功能
.close-open {

    // 官方QQ打开
    .official {
        position: fixed;
        right: 0px;
        // -190px
        top: 44%;
        width: 189px;
        height: 333px;
        padding-left: 10px;
        z-index: 99;
        background-image: url(../images/index/float_box1.png);

        .official-in {
            position: relative;
            width: 100%;
            height: 100%;

            .official-qqs {
                position: absolute;
                left: 0;
                top: 20px;
                width: 100%;
                height: 195px;
                text-align: center;
                cursor: n-resize;
                overflow: hidden;

                .official-inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 326px;

                    .txt {
                        width: 120px;
                        height: 18px;
                        border-left: 1px solid #ffc000;
                        border-right: 1px solid #ffc000;
                        padding-top: 2px;
                        margin: 10px auto;

                        p {
                            height: 14px;
                            color: #ffc000;
                            line-height: 14px;
                            font-size: 14px;
                            font-weight: 700;
                            border-left: 3px solid #ffc000;
                            border-right: 3px solid #ffc000;
                        }
                    }

                    dl {
                        font-size: 12px;
                        color: #fff;
                        line-height: 15.5px;
                    }
                }
            }

            .scroll-mouse {
                position: absolute;
                bottom: 90px;
                left: 50%;
                margin-left: -10px;
                width: 20px;
                height: 20px;
                border-bottom: 2px solid #fff;
                border-left: 2px solid #fff;
                transform: rotate(-50deg) skew(-10deg);
                cursor: n-resize;

                span {
                    position: absolute;
                    bottom: 5px;
                    left: 5px;
                    width: 20px;
                    height: 20px;
                    border-bottom: 2px solid #909699;
                    border-left: 2px solid #909699;
                }
            }

            .official-icon {
                position: absolute;
                top: 254px;
                left: 20px;
                width: 145px;
                height: 30px;
                z-index: 1;

                a {
                    display: inline-block;
                    width: 32px;
                    height: 30px;
                    background-image: url(../images/index/focus_icon.png);

                    &:nth-child(2) {
                        background-position: -37px 0;

                        &:hover {
                            background-position: -37px -30px;
                        }
                    }

                    &:nth-child(3) {
                        background-position: -76px 0;

                        &:hover {
                            background-position: -76px -30px;
                        }
                    }

                    &:last-child {
                        background-position: -114px 0;

                        &:hover {
                            background-position: -114px -30px;
                        }
                    }

                    &:hover {
                        background-position: 0 -30px;
                    }
                }
            }

            .official-hide {
                position: absolute;
                left: 50%;
                bottom: 3px;
                width: 30px;
                height: 30px;
                margin-left: -9px;
                cursor: pointer;
                transform: rotate(45deg);
            }

            .official-weixing {
                position: absolute;
                left: 0;
                top: 20px;
                width: 100%;
                text-align: center;

                h3 {
                    width: 113px;
                    height: 37px;
                    color: #fff;
                    line-height: 37px;
                    font-size: 15px;
                    background-image: url(../images/index/focus_tilbg.png);
                    margin: 10px auto;
                }

                .weixing-code {
                    width: 113px;
                    height: 113px;
                    overflow: hidden;
                    margin: 10px auto;

                    img {
                        width: 100%;
                    }
                }

                .weixing-txt {
                    width: 120px;
                    height: 18px;
                    padding-top: 2px;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    margin: 10px auto;

                    p {
                        height: 13px;
                        color: #fff;
                        line-height: 13px;
                        text-align: center;
                        font-size: 13px;
                        border-left: 3px solid #fff;
                        border-right: 3px solid #fff;
                        margin: 0 3px;
                    }
                }
            }

            .none {
                display: none;
            }
        }
    }

    // 官方QQ缩进
    .official-close {
        position: absolute;
        right: 0;
        top: 60%;
        width: 83px;
        height: 92px;
        cursor: pointer;
        background-image: url(../images/index/float_btn.png);

        div {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 24px;
            height: 24px;
            background-color: hsla(0, 0%, 100%, .4);
            box-shadow: 0 0 5px #000;
            margin: -10px 0 0 -8px;
            transform: rotate(45deg);

            span {
                position: absolute;
                left: 5px;
                bottom: 5px;
                width: 14px;
                height: 14px;
                border-bottom: 2px solid #fff;
                border-left: 2px solid #fff;
            }
        }
    }

    .active {
        display: none;
    }
}

// 合作媒体
.media {
    position: fixed;
    right: 0;
    top: 88%;
    width: 83px;
    height: 92px;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    padding: 26px 0 0 6px;
    text-align: center;
    background-image: url(../images/index/float_btn.png);
    z-index: 99;
    cursor: pointer;
}